h1 {
    font-size: 500%;
    font-family: Helvetica;
    color: #cc6c6c;
    text-align: center;
    clear: both;

}

body ul img{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.button{
	position:relative;
	float: left;
	border: 1px solid #f00;
    background: #f9dada;
    font-family: 'Roboto', sans-serif;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    vertical-align: center;
}

.button:hover
{
	border: 1px solid #f00;
	background: #FFCCCC;
}

a:link {text-decoration:none; color: #cc6c6c;}
a:visited {text-decoration:none; color: #cc6c6c;}
