
body {
	font-family: 'Roboto', sans-serif;
    background-repeat:repeat;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

body h1{
	border-radius: 10px;
	width:50%;
	left:25%;
	position: relative;
	color: #1f261d;
	background-color: #FFFFFF;
	border-radius: 10px;
}
body h2{
	color: #1f261d;
	width:25%;
	left:37.5%;
	position: relative;
}
img{
	max-height: 500px
}

.button{
	position:relative;
	float: left;
	border: 1px solid #660000;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    vertical-align-align: center;
}

.button:hover
{
	border: 1px solid #f00;
	background: #FFCCCC;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}


a {
padding-top:5px;
padding-bottom:5px;
padding-right:13px;
padding-left:13px;}
