
body {
	font-family: 'Roboto', sans-serif;
    background-repeat:repeat;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    color: #cc6c6c;
}

body h1{
	border-radius: 10px;
	width:50%;
	left:25%;
	position: relative;
	color: #cc6c6c;
	background-color: #FFFFFF;
	border-radius: 10px;
    text-align: center;
    clear: both;
}
body h2{
	color: #cc6c6c;
	width:25%;
	left:37.5%;
	position: relative;
}
img{
	max-height: 500px
}

.button{
	position:relative;
	float: left;
	border: 1px solid #f00;
    background: white;
    font-family: 'Roboto', sans-serif;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    vertical-align: center;
    transition: background .1s ease-in;
}

.button:hover
{
	border: 1px solid #f00;
	background: #FFCCCC;
}

a:link {text-decoration:none; color: #cc6c6c;}
a:visited {text-decoration:none; color: #cc6c6c;}

