
body {
	font-family: 'Roboto', sans-serif;
    background-repeat:repeat;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

body h1{
	border-radius: 10px;
	width:50%;
	left:25%;
	position: relative;
	color: #1f261d;
}
body h2{
	color: #1f261d;
	background-color: #FFFFFF;
	border-radius: 10px;
	width:25%;
	left:37.5%;
	position: relative;
}
img{
	max-height: 500px
}
