#table{
	font-family: 'Roboto', sans-serif;

}

#submittable{
	position: absolute;
	background-color: brown;
	left: 50%;
	top: 25%;
	margin-left: -105px;
	width:  170px;
	height: 300px;
	padding: 20;
	font-family: 'Roboto', sans-serif;
    color: #cc6c6c;
}

#buttontable{
	background-color: brown;
	position: absolute;
	left: 80;
	top: 300px;
	
}

.input{
	display: block;
    width: 150px;
    float: center;
    text-align: left;
    border: 1px solid #660000;
    background: #f9dada;
    color: #cc6c6c;
}

.input:hover {
    border: 1px solid #f00;
	background: #FFCCCC;
}

.button{
	position:relative;
	float: left;
	border: 1px solid #f00;
    background: white;
    font-family: 'Roboto', sans-serif;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    vertical-align: center;
    transition: background .1s ease-in;
}

.button:hover{
	border: 1px solid #f00;
	background: #FFCCCC;
}

.homebutton{
	position:relative;
	float: left;
	border: 1px solid #660000;
    background: #f9dada;
    font-family: 'Roboto', sans-serif;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    vertical-align-align: center;
    border: 1px solid #f00;
}

.homebutton:hover
{
	border: 1px solid #f00;
	background: #FFCCCC;
    border: 1px solid #f00;
}

a:link {text-decoration:none; color: #cc6c6c;}
a:visited {text-decoration:none; color: #cc6c6c;}

