#table{
	font-family: 'Roboto', sans-serif;
}

#submittable{
	position: absolute;
	background-color: brown;
	left: 560px;
	top: 25%;
	width:  170px;
	height: 300px;
	padding: 20;
	font-family: 'Roboto', sans-serif;
}

#buttontable{
	background-color: brown;
	position: absolute;
	left: 80;
	top: 300px;
	
}

.input{
	display: block;
    width: 150px;
    float: center;
    text-align: left;
    border: 1px solid #660000;
    background: white;
}

.input:hover {
    border: 1px solid #f00;
	background: #FFCCCC;
}

.button{
	border: 1px solid #660000;
    background: white;
    font-family: 'Roboto', sans-serif;

}

.button:hover{
	border: 1px solid #f00;
	background: #FFCCCC;
}

.homebutton{
	position:relative;
	float: left;
	border: 1px solid #660000;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    vertical-align-align: center;
}

.homebutton:hover
{
	border: 1px solid #f00;
	background: #FFCCCC;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}


a {
padding-top:5px;
padding-bottom:5px;
padding-right:13px;
padding-left:13px;}
