<!DOCTYPE HTML PUBLIC>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <title>Rate My Cat</title>
</head>
<body background = 'http://i.imgur.com/G1DbdOa.png' bgproperties = "fixed">
	<h2><a href= "/" class = "a"> <button type="button" class = "button">Home</button></a> 
    <a href= "/submit" class = "a"><button type="button" class = "button">Submit</button></a></h2>
    <h1>Rate My Cat</h1>
    <ul>
    {% for post in posts %}
    <a href= "/cat/{{post._id}}"><img src= "{{post.cat}}" ></img></a>
    {% endfor %}
</ul>
</body>
</html>