<!DOCTYPE HTML PUBLIC>
<html lang="en">


<head>
    <link rel="stylesheet" type="text/css" href="/static/ratemycat.css">
    <title>Cats</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body background = 'http://i.imgur.com/G1DbdOa.png' bgproperties = "fixed">
	<a href= "/" class = "a"> <button type="button" class = "button">Home</button></a> 
    <a href= "/submit" class = "a"><button type="button" class = "button">Submit</button></a>
    <h1>{{post.title}}</h1>
    <h2>{{post.author}}</h2>
    <h3><img src= "{{post.cat}}"></img></h3>
    <p>{{post.text}}</p>
</body>
</html>