<html>
<head>
	 <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	 <link href="static/submit.css" type="text/css" rel="stylesheet" >
	 <link rel="icon" href="static/favicon.ico" type="image/x-icon">
	 <title> Submit </title>
</head>
<body background = 'http://i.imgur.com/G1DbdOa.png' bgproperties = "fixed">
	<a href= "/" class = "a"> <button type="button" class = "button">Home</button></a> 
	<a href= "/submit" class = "a"><button type="button" class = "button">Submit</button></a>
	<form name="input" action="/submit" method="post">
		<div class = 'table' id = 'submittable'>
  			<table>
				Author <input type="text" name="author" class="input" /><br>     
				Title&nbsp; &nbsp; &nbsp; <input type="text" name="title" class="input" /><br>
				Text &nbsp; &nbsp; <input type ="text" name = "text" class="input" /> <br>
				Cat &nbsp;    &nbsp;  <input type ="text" name = "cat" class="input" accept="image/gif,image/jpeg, image/jpg, image/png"/>
				<table><div class = 'table' id = 'buttontable'>
					<a><input type="submit" value= "Submit"  class="button"></a>
				</table>
			</table> 
	</form>
</body>
</html>